/* start variables */
:root {
    --main-color: #feae35;
}
/* end variables */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
 
body {
    font-family: "work sans", sans-serif;
}

.container {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
}

/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}



header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: white;
    bottom: 16px;
    width: calc(100% - 30px);
    left: 15px;
  }

header .logo img {
    height: 40px;
    margin-left: 40px;
    width: 58px;
}
header .container h1 {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .toggle-menu {
    color: var(--main-color);
    font-size: 22px;
}

@media (min-width: 768px) {
    header .toggle-menu {
        display: none;
    }
}

header .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
}

header .toggle-menu:hover + ul li a {
    padding: 15px;
}

header nav ul {
    display: flex;
    list-style: none;
    padding-right: 30px;
    margin-right: 40px;
}

@media (max-width: 768px) {
    header nav ul {
        display: none;
    }
}

header  ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 7px;
    position: relative;
    z-index: 2;
    margin-left: 40px;
}

header ul li a.active,
header ul li a:hover {
    color: white;
    border-bottom: 1px solid var(--main-color);
}
/* end header */
/* start landing */
.landing {
    min-height: 100vh;
    background-color: grey;
    background-image: url(images/cover.jpeg);
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.landing .content {
    max-width: 500px;
    margin: 40px;
}


.landing .content h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: -62px;
}

.landing .content h3 {
    font-size: 72px;
}

.landing .content p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: -60px;
}
/* end landing */
/* start components */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    color: #ffffffab;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
}

@media (max-width:1023px) {
    .main-heading h2 {
        font-size: 1em;
    }
}

.landing .text .main-button {
    display: flex;
    margin: 15px;
    height: 42px;
}
 
.landing .text .main-button .button-one {
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 8px;
    width: 120px;
    height: 45px;
    transition: 0.7s ease;
}

.landing .text .main-button .button-one:hover {
    transform: scale(1.1);
}

.landing .text .main-button .button-two {
    color: var(--main-color);
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 8px;
    margin-left: 10px;
    width: 135px;
    height: 45px;
    transition: 0.7s ease;
}

.landing .text .main-button .button-two:hover {
    transform: scale(1.1);
}

.section {
    padding: 70px;
    background-color: #e2dbdb;
}
/* end components */
/* start menu */
.section .menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
  }

  .section .menu-content .card {
    background-color: white;
    width: 272px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 0.43);
    border-radius: 10px;
    padding: 16px;
    margin: 15px;
    transition: 0.7s ease;
  }

 

  .section .menu-content .card:hover {
    transform: scale(1.1);
  }
  .section .menu-content .card img {
    max-width: 30%;
  }
  .section .menu-content .card .info {
    padding: 20px;
  }
  .section .menu-content .card .info h3 {
    margin: 0;
  }
  .section .menu-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
.section .button {
    background-color: white;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    transition: 0.7s ease;
    margin: 15px;
}

.section .button:hover {
    transform: scale(1.1);
}
/* end menu */
.main-heading1 h2 {
    color: #dbdadab8;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 5px;
    margin: 0;
}

.services .container {
    display: flex;
    justify-content: space-between;
}

.services .container .text {
    flex-basis: 40%;

}
.services .image img {
    flex-basis: 40%;
    width: 250px;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .services .image img {
        width: 110px;
        margin-right: 0;
    }
}

.services .text ul {
    margin: 55px;
    margin-left: 75px;
    list-style: none;
}


.services .text ul li {
    margin: 24px;
    font-size: 17px;
}

@media (max-width: 768px) {
    .services .text ul li {
    margin: 6px;
    margin-left: -90px;
    width: 55px;
    display: grid;
    grid-template-columns: 400px;
    font-size: 20px;
    }
}

.services .text span {
    margin: 0;
}

.services li i {
    color: yellow;
}

.contact .container {
    background-image: url(images/cover.png);
    background-size: cover;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 48px;
    padding-left: 70px;
}

.contact .text h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.contact .text span {
    color: var(--main-color);
    margin-left: 4px;
}

.contact .button {
    display: flex;
    margin: 15px;
    height: 42px;
}

.contact .button1 {
    color: white;
    background-color: var(--main-color);
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 8px;
    width: 120px;
    height: 45px;
    transition: 0.7s ease;
}

.contact .button1:hover {
    transform: scale(1.1);
}

.contact .button2 {
    color: var(--main-color);
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--main-color);
    padding: 8px;
    width: 135px;
    height: 45px;
    margin-left: 10px;
    transition: 0.7s ease;
}

.contact .button2:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #1c1d21;
    color: white;
    padding: 10px 10px;
    text-align: center;
    font-size: 18px;
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}